<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
  </ion-header >
    <ion-toolbar class="content">
      <ion-img src="assets/img/pic1.jpg"></ion-img>
      <ion-img src="assets/img/pic2.jpg"></ion-img>
      <ion-img src="assets/img/pic3.jpg"></ion-img>
      <ion-img src="assets/img/pic4.jpg"></ion-img>
      <ion-img src="assets/img/pic5.jpg"></ion-img>
      <ion-img src="assets/img/pic6.jpg"></ion-img>
      <ion-img src="assets/img/pic7.jpg"></ion-img>
      <ion-img src="assets/img/pic8.jpg"></ion-img>
      <ion-img src="assets/img/pic9.jpg"></ion-img>
      <ion-img src="assets/img/pic10.jpg"></ion-img>
      <ion-img src="assets/img/pic11.jpg"></ion-img>
      <ion-img src="assets/img/pic12.jpg"></ion-img> 
  </ion-toolbar>
</ion-content>
