.head{
    --background: rgb(167, 141, 138);
    color: white;
    font-weight: bolder;
	font-size: 15%;
	font-family: sans-serif;
}
.content{
    --background:  rgb(192, 216, 227);
}
ion-title{
    color: white;
    font-weight: bolder;
	font-size: 25px;
	font-family: sans-serif;
}
ion-img{
    margin-left: 11px;
    margin-top: 5px;
    height: 11%;
    width: 30%;
    float: left;
}