<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="content">
  <ion-img src="assets/img/pic.png"></ion-img>
  <h1>Jelma Belita Campo</h1>
  <h3>Basic Info</h3>
  <p>Nickname : Jelms</p>
  <p>Birthday : March 08, 2020</p>
  <p>Age : 21 years old</p>
  <p>Gender : Female</p>
  <p>Zodiac Sign: Pisces</p>
  <p>Languages: Tagalog, English & Waray-waray</p>

  <h3>Education</h3>
  <p>Elementary: TCES (Tunga Central Elementary School)</p>
  <p>Highschool: GCCNHS (Gregorio C. Catenza National High School)</p>
  <p>College: EVSU-CC (Eastern Visayas State University Carigara-Campus)</p>
</ion-toolbar>
</ion-content>
