<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="content">
  <ion-img src="assets/img/fb3.png"></ion-img>
  <p>Jelma Belita Campo</p><br>
  <ion-img src="assets/img/email.png"></ion-img>
  <p>jelma.campo@evsu.edu.ph</p>
  <ion-img src="assets/img/insta2.png"></ion-img>
  <p>jelmspark</p><br>
  <ion-img src="assets/img/twit.png"></ion-img>
  <p>jelmsparker</p>
  <ion-img src="assets/img/snap.png"></ion-img>
  <p>jelms_park2000</p><br>
  <ion-img src="assets/img/watt.png"></ion-img>
  <p>jelcampo</p>
  <ion-img src="assets/img/phone4.png"></ion-img>
  <p>09263663442</p>
</ion-toolbar>
</ion-content>
